@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .box-cst{
    background-image: linear-gradient(to right, #18181B, #18181B), linear-gradient(to right, #00DC82, #1DE0B1, #36E4DA);
    background-clip: padding-box,border-box;
    background-origin: padding-box,border-box;
  }
  .box-cst2{
    background-image: linear-gradient(to right, #00DC82, #1DE0B1, #36E4DA);
  }
  .hexagone{
    filter: url(#round);
  }
  .hexagone::before {
    content:"";
    display:block;
    padding-top:86.6%;
    background:currentColor;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
}
@layer base {
  html {
    @apply scroll-smooth;
  }
}